@using ACT.ViewModel
@model MyInfoViewModel
@{
    var ajaxOptions = new AjaxOptions
    {
        OnBegin = "onFormBegin",
        OnComplete = "onFormComplete",
        HttpMethod = "POST"
    };
}

@using (Ajax.BeginForm(null, null, ajaxOptions, new { enctype = "multipart/form-data" }))
{
    <div class="portlet">
        <div class="portlet-title">
            <div class="actions btn-set">
                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-reply"></i> رجوع </a>
                <button type="submit" class="btn  green"><i class="fa fa-check"></i> حفظ</button>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-5">

                        <div class="form-group row">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.SecondName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.SecondName)
                            </div>
                        </div>


                        <div class="form-group row">
                            @Html.LabelFor(model => model.ThirdName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ThirdName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.ThirdName)
                            </div>
                        </div>


                        <div class="form-group row">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>


                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AnotherPhoneNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AnotherPhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.AnotherPhoneNumber)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", rows = "3" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts
{
    <script>
     var returnUrl = "@Url.Action("Index")";
    </script>
}