@using ACT.ViewModel.Common;
@model BaseSearchViewModel


<div class="form-group row">
    <label class="control-label col-md-1" for="SearchLevel1">@Html.DisplayNameFor(model => model.Level1Id)</label>
    <div class="col-md-4">
        <select id="SearchLevel1" class="form-control input-sm level1-ddl select2me ">
            <option value="">@Resources.LocalizedText.DropDownnPleaseSelect</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="control-label col-md-1" for="SearchLevel2">@Html.DisplayNameFor(model => model.Level2Id)</label>
    <div class="col-md-4">
        <select id="SearchLevel2" class="form-control input-sm select2me level2-ddl">
            <option value="">@Resources.LocalizedText.DropDownnPleaseSelect</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="control-label col-md-1" for="SearchLevel3">@Html.DisplayNameFor(model => model.Level3Id)</label>
    <div class="col-md-4">
        <select id="SearchLevel3" class="form-control input-sm select2me level3-ddl">
            <option value="">@Resources.LocalizedText.DropDownnPleaseSelect</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="control-label col-md-1" for="SearchLevel4">@Html.DisplayNameFor(model => model.Level4Id)</label>
    <div class="col-md-4">
        <select id="SearchLevel4" class="form-control input-sm select2me level4-ddl">
            <option value="">@Resources.LocalizedText.DropDownnPleaseSelect</option>
        </select>
    </div>
</div>


<div class="form-group row">
    <label class="control-label col-md-1" for="SearchName">@Html.DisplayNameFor(model => model.Name)</label>
    <div class="col-md-4">
        <input class="form-control input-sm text-box single-line" id="SearchName" type="text" value="">
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <a id="search-btn" onclick="SearchDataTable();" class="btn  yellow filter-submit margin-bottom  pull-right"><i class="fa fa-search"></i> بحث</a>
    </div>
</div>
