@section styles {
    @* Css Plugin *@
    <link href="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable-rtl.css" rel="stylesheet" />
    <style>
        .rotate-th {
            height: 100px;
            text-align: center;
            vertical-align: middle;
            width: 1.0em;
            white-space: nowrap;
        }

        .rotate-td {
            text-align: center;
            vertical-align: middle;
            width: 1.0em;
            white-space: nowrap;
        }

            .rotate-th div, .rotate-td div {
                -moz-transform: rotate(-90.0deg); /* FF3.5+ */
                -o-transform: rotate(-90.0deg); /* Opera 10.5 */
                -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
                -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
            }

        .header-rotate-m {
            width: 15px;
            margin-top: -75px;
        }

        .row-span-m {
            margin-bottom: 10px;
        }

        .overflow-x-auto {
            overflow-x: auto;
        }

        .item-hash-rotate {
            width: 15px;
        }

        .portlet-body-item {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

        .item-table table {
            margin-bottom: unset;
            min-height: 500px
        }
    </style>
}
<div class="row">
    <div class="col-md-5">
        @Html.Partial("~/Views/Common/_UsersResponsibleForMe.cshtml")
        <div class="row">
            <div class="col-md-12">
                <a id="search-btn" onclick="SearchItemTable();" class="btn  yellow filter-submit margin-bottom  pull-right"><i class="fa fa-search"></i> بحث</a>
            </div>
        </div>
    </div>
</div>

<div class="item-table">



</div>










@section scripts {
    @* Js Plugin *@
    <script src="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script>
        var fillUserCategoryForUserDirectResponsableUrl = "@Url.Action("FillUserCategoryForUserDirectResponsable", "UserCategory", new {Area= "SystemManagment" })";
        var fillJobTitleForUserDirectResponsableUrl = "@Url.Action("FillJobTitleForUserDirectResponsable", "JobTitle", new {Area= "SystemManagment" })";
        var fillUsersForUserDirectResponsableUrl = "@Url.Action("FillUsersForUserDirectResponsable", "User", new {Area= "UsersManagement" })";
        var itemTableUrl = "@Url.Action("ItemTable")";
        var addQuantityUrl = "@Url.Action("AddQuantity")";
        var editEditQuantityUrl = "@Url.Action("EditEditQuantity")";
        var quantityLoc = '@Resources.LocalizedText.SubIndicators_Quantity';
        var isContinuousLoc = '@Resources.LocalizedText.SubIndicators_IsContinuous';
        var emptyQuantityLoc = '@Resources.LocalizedText.SubIndicators_EmptyQuantity';
        var validationEditable = '@Resources.LocalizedText.SubIndicators_validationEditable';
        var ValidationWeightRequired = '@string.Format(Resources.LocalizedText.Validation_Required, Resources.LocalizedText.SubIndicators_Weight)';
        var  ValidationWeightNumber = '@string.Format(Resources.LocalizedText.Validation_Number, Resources.LocalizedText.SubIndicators_Weight)';
    </script>
    <script src="~/Scripts/Common/users-responsible-for-me.js"></script>
    <script src="~/Scripts/SubIndicators/index.js"></script>
}