<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="@Resources.LocalizedText.dir">
<!--<![endif]-->
<!-- HEAD -->
<head>
    <meta charset="utf-8" />
    <title>ACT | @ViewBag.Title  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    @Html.Partial("_StyleLayout")
    @RenderSection("styles", false)
</head>
<body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <div class="row">
                <div class="col-md-1">
                    <!-- LOGO -->
                    <div class="page-logo">
                        <a href="@Url.Content("/")">
                            <img src="~/assets/img/actlogo.png" alt="logo" class="logo-default" />
                        </a>
                    </div>

                </div>
                @Html.Action("RightMenu", "Menu", new { Area = "" })
            </div>
        </div>
    </div>
    <div class="clearfix">

    </div>

    <div class="page-container">
        @if (Request.IsAuthenticated)
        {
            @Html.Action("GetMenuSidebar", "Menu", new { Area = "" })
        }
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content" style="min-height:330px;">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-title">
                            @ViewBag.Title  <small>@ViewBag.Description </small>
                        </h3>
                        @Html.Partial("_PageBarLayout")
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    @Html.Partial("_FooterLayout")
    @Html.Partial("_JavascriptVariable")
    @Html.Partial("_ScriptLayout")
    @RenderSection("scripts", false)

</body>
<!-- END BODY -->
</html>