@using ACT.ViewModel
@model EvidenceViewModel
@{
    var ajaxOptions = new AjaxOptions
    {
        OnBegin = "onFormBegin",
        OnComplete = "onFormComplete",
        HttpMethod = "POST"
    };
}

@using (Ajax.BeginForm(null, null, ajaxOptions, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.StandardId)
    <div class="portlet">
        <div class="portlet-title">
            <div class="actions btn-set">
                <a href="@Url.Action("Index",new {StandardId=Model.StandardId })" class="btn default"><i class="fa fa-reply"></i> رجوع </a>
                <button type="submit" class="btn  green"><i class="fa fa-check"></i> حفظ</button>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">

                <div class="row">
                    <div class="col-md-5">
                        @Html.Action("ViewCategoryAndItemAndStandard", new { StandardId = Model.StandardId })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.EvidenceDescription, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.EvidenceDescription, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.EvidenceDescription)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "touchspin_number form-control  input-sm" } })
                                @Html.ValidationMessageFor(model => model.DisplayOrder)
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
}



@section scripts
{
    <script>
        var returnUrl = "@Url.Action("Index", new { StandardId = Model.StandardId })";
    </script>
}