@using ACT.ViewModel;
@model Level1ViewModel



@Html.Partial("_SearchPartialView")

<div class="portlet">
    <div class="portlet-title">
        <div class="actions btn-set">
            <a href="@Url.Action("Add")" class="btn default yellow-stripe">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    اضافة جديد
                </span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="grid-object">
            <thead>
                <tr class="heading">
                    <th>
                        @Html.DisplayNameFor(x => x.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.DisplayOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Published)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>







@section scripts {
    <script>
        var GridUrl = "@Url.Action("GetLevel1List")";
        var DeleteUrl = "@Url.Action("Delete")";
        var EditUrl =  "@Url.Action("Edit")";
    </script>
    <script src="~/Scripts/Level1/Index.js"></script>
}