@using ACT.ViewModel
@model UserViewModel
@{
    var ajaxOptions = new AjaxOptions
    {
        OnBegin = "onFormBegin",
        OnComplete = "onFormComplete",
        HttpMethod = "POST"
    };
}

@using (Ajax.BeginForm(null, null, ajaxOptions, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="portlet">
        <div class="portlet-title">
            <div class="actions btn-set">
                <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-reply"></i> رجوع </a>
                <button type="submit" class="btn  green"><i class="fa fa-check"></i> حفظ</button>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-5">

                        @Html.Partial("~/Views/Common/_JobTitlePartialView.cshtml")
                        <div class="form-group row">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.SecondName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.SecondName)
                            </div>
                        </div>


                        <div class="form-group row">
                            @Html.LabelFor(model => model.ThirdName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ThirdName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.ThirdName)
                            </div>
                        </div>


                        <div class="form-group row">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.GenderId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(m => m.GenderId, Model.AlvailableGenderList, Resources.LocalizedText.DropDownnPleaseSelect, new { @class = "form-control input-sm select2me" })

                                @Html.ValidationMessageFor(model => model.GenderId)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.Active, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Active)
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">

                        <div class="form-group row">
                            @Html.LabelFor(model => model.FirstNameEn, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstNameEn, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.FirstNameEn)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.LastNameEn, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastNameEn, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.LastNameEn)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AnotherPhoneNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AnotherPhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.AnotherPhoneNumber)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", rows = "3" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
}


@section scripts
{
    <script>
         var returnUrl = "@Url.Action("Index")";
        var fillLevel1Url = "@Url.Action("FillLevel1","Level1",new {Area="Level" })";
        var fillLevel2Url = "@Url.Action("FillLevel2","Level2",new {Area="Level" })";
        var fillLevel3Url = "@Url.Action("FillLevel3","Level3",new {Area="Level" })";
        var fillLevel4Url = "@Url.Action("FillLevel4","Level4",new {Area="Level" })";
        var fillUserCategoryUrl = "@Url.Action("FillUserCategory","UserCategory",new {Area="SystemManagment" })";
        var fillJobTitleUrl = "@Url.Action("FillJobTitle", "JobTitle", new {Area= "SystemManagment" })";
         var generateUserNameUrl = "@Url.Action("GenerateUserName")";
        //selected
        var SelectedLevel1 = '@Model.Level1Id';
        var SelectedLevel2 = '@Model.Level2Id';
        var SelectedLevel3 = '@Model.Level3Id';
        var SelectedLevel4 = '@Model.Level4Id';
        var SelectedUserCategoryId = '@Model.UserCategoryId';
        var SelectedJobTitleId = '@Model.JobTitleId';
        var UserNameEdited = "@Model.UserName";
    </script>
    <script src="~/Scripts/Common/jobtitle.js"></script>
    <script src="~/Scripts/User/add-edit.js"></script>
}