@using ACT.ViewModel;
@model UserViewModel


@Html.Partial("_SearchPartialView")

<div class="portlet">
    <div class="portlet-title">
        <div class="actions btn-set">
            <a href="@Url.Action("Add")" class="btn default yellow-stripe">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    اضافة جديد
                </span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="grid-object">
            <thead>
                <tr class="heading">
                    <th>
                        @Html.DisplayNameFor(x => x.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.UserCategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.JobTitleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.GenderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Active)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts {
    <script>
        var GridUrl = "@Url.Action("GetUserList")";
        var DeleteUrl = "@Url.Action("Delete")";
        var EditUrl = "@Url.Action("Edit")";
       var fillLevel1Url = "@Url.Action("FillLevel1","Level1",new {Area="Level" })";
    var fillLevel2Url = "@Url.Action("FillLevel2","Level2",new {Area="Level" })";
    var fillLevel3Url = "@Url.Action("FillLevel3","Level3",new {Area="Level" })";
    var fillLevel4Url = "@Url.Action("FillLevel4","Level4",new {Area="Level" })";
        var fillUserCategoryUrl = "@Url.Action("FillUserCategory", "UserCategory", new {Area= "SystemManagment" })";
         var fillJobTitleUrl = "@Url.Action("FillJobTitle", "JobTitle", new {Area= "SystemManagment" })";
    </script>
    <script src="~/Scripts/Common/jobtitle-search.js"></script>
    <script src="~/Scripts/User/data-table.js"></script>
    <script src="~/Scripts/User/Index.js"></script>
}